.HeaderItem {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1140px;
    margin: 0 auto;
    
}

.HeaderTitle {

}

.HeaderNav {
    display: flex;
}

.HeaderNav ul {
    display: flex;
}

.itemactive {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #1DC985;
}

.listitem {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #230E07;
}